*{
	padding: 0;
	margin: 0;
}
body{

	width: 80%;
	font-family: roboto,sans-serif;
	font-size: 18px;
	background-color: #f4f4f4;
	padding-left: 40px;
	height: 400vh;
	

}



.first-para{
	border: 10px solid  darkred;
	background-color: black;
	color: white;
	margin: 20px 10px;
	line-height: 1.6em;
}
h1
{
	margin: 10px;
			text-decoration: underline;
	letter-spacing: 2px;
	word-spacing: 2px;

}
p{
	margin: 20px;
}



.second{
	border: 2px solid  black;
	margin: 20px 10px;
	border-radius: 10px;

}
h2{
text-align: center;
text-decoration: underline;
letter-spacing:3px;
margin: 10px;
}
 li{
	list-style: none;
	list-style: square;
	line-height: 1.6em;
	margin-left: 20px;
	font-weight: 500;
	border-bottom: 2px solid dimgray;
}
a {
	text-decoration: none;
}

h3{
	margin: 20px 10px;
}


.float2{

	float: left;
	width: 33.3%;
	color: black;
	box-sizing: border-box;
	border:2px solid black;

}


.my-form{
	margin: 20px 10px;
	border: 2px solid black;
	padding: 5px;
}
label{
	display: block;
	margin: 5px;
}
input{
	width: 90%;
	font-size:20px;
	margin: 10x;
	padding: 5px;
}
button{
	background-color: black;
	margin: 20px;
	color: white;
	padding: 5px;
	display: block;
}
.mybox{
	height: 400px;
	width:100%;
	border: 2px solid rgb(228, 211, 211);
	position:relative;
	background-image:url(1220109.jpg);
	background-size:cover ;
}
.mybox h3{
position:absolute;
	top: 40px;
	left: 90px;
}
.mybox h4
{
	position: absolute;
top: 100px;
right: 10px;
}
.last  :nth-child(3){
	background-color: red;

}

.last  li{
	display: inline;
}